@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: "PT Sans", sans-serif !important;
}

img {
    cursor: pointer;
}



.my-container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 1000px) {
    .my-container {
        width: 100%;
    }
}